:root {
    /* --bkg-body: #0f263b;
    --secondary-clr: rgb(218, 192, 122); */
    --bkg-body: #003b5c;
    --secondary-clr: rgb(231, 195, 97);
}

* {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    line-height: 1.3;

    box-sizing: border-box;
}

/* General Classes */

.flex-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid orangered;
}

/* General Classes */

header {
    background: var(--bkg-body);
    /* background: gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile */

.profile-container {
    /* height:80vh; */
    padding: 7em 3em 4em 3em;
    gap: 3rem;

    /* background: var(--bkg-body) */
}

.profile-pic {
    /* background: chartreuse; */
}

.profile-pic > img {
    width: 35%;
    height: auto;
    border-radius: 50%;
}

.profile-text {
    /* background: red; */
    color: white;
    /* text-align: center; */
    margin: 0;
    width: 100%;
    max-width: 480px;

    /* gap: .5em; */
}

.profile-name {
    /* text-justify: left; */
    font-size: 2em;
    font-weight: 700;
}

.profile-tags {
    font-weight: 500;
    /* text-justify: left; */
    /* white-space: pre; */

    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

.profile-details {
    /* text-justify: left; */
    text-align: center;
    /* text-overflow: clip;  */
    overflow: hidden;
    width: 400px;
}

@media screen and (max-width: 500px) {
    .profile-container {
        padding: 2rem 0 1rem 0rem;
    }
    .profile-text {
        width: 90vw;
    }
    .profile-tags {
        max-width: 90vw;
        text-align: center;
    }
    .profile-details {
        max-width: 90vw;
    }
}

/* Main Content */

main {
    /* background: var(--bkg-body); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    padding: 4em 1em;
    width: 100%;
    max-width: 980px;
}

.main-links {
    list-style: none;

    height: 100%;
    width: 100%;

    display: flex;
    gap: 2.5em;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-links > li {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.link-item {
    text-align: center;
    color: var(--bkg-body);
    /* background-color: white; */
    background: var(--secondary-clr);
    overflow: hidden;
    text-decoration: none;

    background-clip: border-box;

    width: 100%;
    max-width: 400px;
    height: 100%;

    font-weight: 600;

    border-radius: 16px;
    /* border: 5px solid var(--secondary-clr); */

    box-shadow: 3px 3px 3px rgb(164, 164, 164);
}

.link-item:hover {
    color: var(--secondary-clr);
    background: var(--bkg-body);
    /* border: 5px solid white; */

    box-shadow: 3px 3px 3px rgb(164, 164, 164);
}

/* Footer */
footer {
    height: 128px;

    background: var(--bkg-body);

    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-container {
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: white;
}

@media screen and (max-width: 600px) {
    footer {
        height: auto;
        padding: 2em;
        /* flex-direction: column; */
        gap: 3em;
    }
}

.coming-soon {
    position: relative;
    /* filter: grayscale(); */
    pointer-events: none;

    /* color: rgba(0, 0, 0, 0); */
    color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.25);
}

.coming-soon::after {
    width: 20%;
    content: "TBI";
    position: absolute;

    padding: 0.1rem 3rem;

    top: 38%;
    right: 5%;

    transform: translate(50%, -50%) rotate(45deg);

    background: lightcoral;
    color: var(--bkg-body);
}

/* EXPERIMENTAL
.border-gradient {
    border: 5px solid;
    border-radius: 16px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--bkg-body), var(--secondary-clr));
    border-width: 5px;
} */
/* 
.test {
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    padding: 10px;
}
.test::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background:  linear-gradient(to left, #FF512F, #F09819);
    content: '';
    z-index: -1;
    border-radius: 16px;
} */

/* .border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.border-gradient-green {
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
} */
