:root {
    /* --bkg-body: #0f263b;
    --secondary-clr: rgb(218, 192, 122); */
    --bkg-body: #003b5c;
    --secondary-clr: #fce25b;
}

* {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    line-height: 1.4;

    box-sizing: border-box;
}

/* General Classes */

.flex-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid orangered;
}

/* General Classes */

header {
    background: var(--bkg-body);
    /* background: gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile */

.profile-container {
    /* height:80vh; */
    padding: 6em 3em 2rem 3em;
    gap: 2rem;

    /* background: var(--bkg-body) */
}

.profile-pic {
    /* background: chartreuse; */
}

.profile-pic > img {
    width: 35%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-text {
    /* background: red; */
    color: white;
    /* text-align: center; */
    margin: 0;
    width: 100%;
    max-width: 470px;

    /* gap: .5em; */
}

.profile-name {
    text-align: center;
    /* text-justify: left; */
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
}

.profile-tags {
    font-size: 1.2rem;
    font-weight: 500;
    /* text-justify: left; */
    /* white-space: pre; */

    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 2rem;
}

.profile-details {
    color: var(--secondary-clr);
    /* Move this to about and have the home page look cleaner */
    font-size: 1rem;
    font-weight: 400;
    /* text-justify: left; */
    text-align: center;
    /* text-overflow: clip;  */
    overflow: hidden;
    margin: 0 auto;
    width: min(470px, 100%);
}

@media screen and (max-width: 500px) {
    .profile-container {
        padding: 4rem 2rem 4rem 2rem;
    }
    .profile-text {
        width: 100%;
    }
    .profile-tags {
        max-width: 90vw;
        text-align: center;
    }
    .profile-details {
        max-width: 90vw;
    }
}

/* Main Content */

main {
    background: var(--bkg-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    padding: 1rem 1rem;
    width: 100%;
    max-width: 980px;
}

.main-links {
    list-style: none;

    height: 100%;
    width: 100%;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-links > li {
    /* width: 100%; */
    position: relative;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.link-item {
    transition: 250ms;
    text-align: center;
    background: var(--secondary-clr);
    /* color: var(--secondary-clr); */
    /* background-color: white; */
    color: var(--bkg-body);
    overflow: hidden;
    text-decoration: none;
    /* 
    background-clip: border-box; */

    width: 470px;
    height: 100%;

    font-size: 1.4rem;
    font-weight: 600;

    border-radius: 16px;
    /* border: 5px solid var(--secondary-clr); */
    /* 
    box-shadow: 3px 3px 3px rgb(164, 164, 164); */
}

.link-item:hover {
    /* color: var(--bkg-body);
    background: white; */
    /* border: 5px solid white; */

    box-shadow: 0px 5px 0px 0px rgb(255, 30, 30);
}

/* Footer */
footer {
    height: 128px;

    background: var(--bkg-body);

    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-container {
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: white;
}

@media screen and (max-width: 600px) {
    .link-item {
        width: min(470px, 90vw);
        margin: 0 1rem;
    }
    footer {
        height: auto;
        padding: 2em;
        /* flex-direction: column; */
        gap: 3em;
    }
}

.coming-soon {
    position: relative;
    perspective: "3d";
    /* filter: grayscale(); */
    pointer-events: none;
    /* color: rgba(0, 0, 0, 0); */

    /* color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.25); */
    color: rgb(0, 0, 0);
    background: rgb(204, 204, 204);
}

/* .outer-link-container::before {
    content: "Coming Soon";

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: -10;
    opacity: 0;
    width: 100%;
    height: 100%;

    border-radius: 15px;

    font-size: 2rem;
    font-weight: 600;
    color: white;
    background: rgb(255, 44, 44);
} */

/* .main-links > li */
/* .outer-link-container {
    display: flex;
    align-items: center;
    justify-content: center; */
/* background: lightgreen;
} */

.outer-link-container:hover .coming-soon {
    color: rgb(0, 0, 0);
    background: rgb(204, 204, 204);
    transition: 300ms ease-in-out;
    transform: rotateX(75deg) translateX(5px) translateY(5px) translateZ(38px);
}

/* .outer-link-container:hover::before {
    opacity: 1;
    transform: scale(0.99);
} */

.coming-soon::after {
    width: 20%;
    content: "TBI";
    position: absolute;

    padding: 0.1rem 3rem;

    top: 38%;
    right: 5%;

    transform: translate(50%, -50%) rotate(45deg);

    background: lightcoral;
    color: var(--bkg-body);
}

/* EXPERIMENTAL
.border-gradient {
    border: 5px solid;
    border-radius: 16px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--bkg-body), var(--secondary-clr));
    border-width: 5px;
} */
/* 
.test {
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    padding: 10px;
}
.test::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background:  linear-gradient(to left, #FF512F, #F09819);
    content: '';
    z-index: -1;
    border-radius: 16px;
} */

/* .border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.border-gradient-green {
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
} */
