:root {
    --duration: 25s;
    --bkg-marquee-color: #fce25b;
    --repeat: 5;
    /* infinite  */
}

.marquee-container {
    width: 100%;
    height: 60px;

    display: flex;

    white-space: nowrap;
    overflow: hidden;

    /* Need this or else you can see a tiny gap */
    background: var(--bkg-marquee-color);
}

@keyframes banner-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-container > img {
    /* width: 100%; */
    display: flex;

    animation: banner-scroll var(--duration) var(--repeat) linear;
}

@media only screen and (max-width: 800px) {
    .marquee-container {
        height: 48px;
    }
    .marquee-container > img {
        width: unset;
        height: 48px;
    }
}
